* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 0 15px;
  background-color: #fafafa;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

@font-face {
  font-family: 'Concert One';
  src: url(./assets/ConcertOne-Regular.ttf);
}
